<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
  
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<% allblog.forEach(function (list) { %>
   
  <div class="card" style="width: 15rem;">
    <div class="card-body">
      <h5 class="card-title" id="titlename"><%=list.title %></h5>
      <p class="card-text" ><%=list.content %></p>
      <dialog id="update">
         <form action="/update?username=<%=list.title %>" method="POST">
          <label for="exampleFormControlInput1" class="form-label">Update</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="New Content" name="upd">
            <button type="submit" onclick="update.close()">Update</button>
         </form>
      </dialog>
      <form action="/delete?username=<%=list.title %>" method="POST">
        
        <input type="submit" class="btn btn-primary" placeholder="Delete"> 
      </form>
      <button type="button" class="btn-primary" aria-label="Close" onclick="update.showModal()">Update</button>
    </div>
  </div>
  
   <!-- note you defined the field as Name not name -->
<% }) %> <!-- WORKEDDD-->

<footer>
  <%- include('../partials/footer'); %>
</footer>
<script src=""></script>
</body>
</html> 